[Unit]
Description=Initialize Gladys Assistant containers
After=getty.target docker.service network-online.target
Requires=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/var/lib/gladysassistant/init-containers.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target